.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.DS_Store
*.md
!README.md
docker-compose*.yml
/Dockerfile
.phpunit.result.cache
.php-cs-fixer.cache
coverage
.idea
.vscode
